
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    text-align: center;
}

.megari {
    font-size: 12vw;
    font-weight: bold;
    background: linear-gradient(90deg, #ff7eb9, #ff65a3, #7afcff, #feff9c, #fff740);
    background-size: 300%;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientAnimation 6s ease infinite;
}


@keyframes gradientAnimation {
    0% { background-position: 0%; }
    50% { background-position: 100%; }
    100% { background-position: 0%; }
}


.cta-text {
    font-family: 'Poppins', sans-serif; 
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 2s ease;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}
